/*footer*/
.footer {
  padding-top: 16px;
  border-top: 4px solid var(--primary-color);
  background-color: var();
}

.footer__heading {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 10px;
}
.footer__logo {
  width: 400px;
  height: auto;
  margin-left: -150px;
  padding-right: 60px;
}
.footer__list {
  padding-left: 5px;
  list-style: none;
  font-size: 0.8rem;
}
.footer_item {
  margin-bottom: 5px;
  font-size: 0.8rem;
  padding-right: 15px;
}
.footer_item_link {
  text-decoration: none;
  font-size: 1.0rem;
  color: #737373;
  padding: 2px 0;
  display: block;
}
.footer_item_link {
    text-decoration: none;
    font-size: 1.0rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer_item_link:hover {
    color: brown;
}

.footer-item__icon-yt {
    font-size: 1.6rem;
    margin: 1px 8px -1px -2px;
    color: red;
}
.footer-item__icon-fb {
    font-size: 1.6rem;
    margin: -1px 8px -1px 0;
    color: blue;
}
.footer-item__icon-ig {

    font-size: 1.6rem;
    margin: -7px 7px -1px 0;
    color: rgb(209, 10, 172);
}
.footer-item__icon-contact {
    font-size: 1.6rem;
    margin: -1px 8px -5px 0;
    color: #737373;
}
.footer_text {
    font-size: 0.7rem;
    margin-left: 30px;
    color: aliceblue;
   text-align: center;

}

/*responsive*/
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
/* Test */
.grid__column-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  
}

.grid__column-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
  margin-top: 10px
  margin-bot: 10px;
  margin-right: 50px;
}
.grid__column-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3334%;
}
.grid__row-text {
  display: flex;
  justify-content: center;
  margin-top: 40px;
 padding-top: 15px;
 padding-bottom: 15px;
  background-color:rgb(242, 150, 37);

}