body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background: lightblue;
  border-radius: 20px;
}
.contact {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #a64b2a;
}
.contact .phone {
  font-size: 50px;
}
.container {
  width: 1250px;
  max-width: 90vw;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  transition: transform 0.5s;
}

svg {
  width: 30px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

header .icon-cart {
  position: relative;
}
header .icon-cart span {
  display: block;
  width: 30px;
  height: 30px;
  background-color: red;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -20px;
}
.listProduct .item img {
  width: 90%;
  filter: drop-shadow(0 50px 20px#0009);
}
.listProduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.listProduct .item {
  background: color #eeee6e;
  padding: 20px;
  border: radius 20px;
}
.listProduct .item h2 {
  font-weight: 500px;
  font-size: large;
}
.listProduct .item .price {
  letter-spacing: 7px;
  font-size: small;
}
.listProduct .item button {
  background-color: rgb(97, 28, 28);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 50px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}
.cartTab {
  width: 400px;
  background-color: #353436;
  color: #eee;
  position: fixed;
  /* <!--top: 0;
  right: 0;
  bottom: 0;  DONG INSET THAY INSET RIGHT BOTTOM FELT*/
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: 0.5s;
  border-radius: 15px;
}
body.showCart .cartTab {
  inset: 0 0 0 auto;
}
body.showCart .container {
  transform: translateX(-250px);
}
.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartTab .btn button {
  background-color: aqua;
  border: none; /* đường viền */
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer; /* con trỏ */
  height: 40px;
}
.cartTab .btn .close {
  background-color: blueviolet;
  height: 40px;
}
.cartTab .listCart .item img {
  width: 100%;
  border-radius: 20px;
}
.cartTab .listCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.listCart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  color: #555;
  border-radius: 50%;
  cursor: pointer;
}
.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #eee;
}
.listCart .item:nth-child(even) {
  background-color: #eee1;
}
.listCart {
  overflow: auto;
}
.listCart::-webkit-scrollbar {
  width: 0%;
}
@media screen and(max-width: 992px) {
  .listProduct {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and(max-width: 768px) {
  .listProduct {
    grid-template-columns: repeat(2, 1fr);
  }
}
.categoryFilter {
  display: flex;
  justify-content: left;
  gap: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.categoryFilter button {
  padding: 15px 15px;
  border: none;
  background-color: #444;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.categoryFilter button:hover {
  background-color: crimson;
}
.categoryFilter button.active {
  background-color: crimson;
}
