body {
  background: #f6f5f7;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("longinBackground.png"); /* ← đổi tên ảnh ở đây */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home {
  text-decoration: none;
  color: #150909;
  position: relative;
}
.home:hover {
  text-decoration: none;
  color: rgb(231, 93, 38);
}
.home::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: rgb(231, 93, 38);
  transform: translateX(-50%);
  transition: width 0.3s ease;
}
.home:hover::after {
  width: 100%;
}
.container {
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

/* FORM */
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease-in-out;
}

.form-container form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  width: 100%;
}

.form-container input {
  background: #f2f1f1;
  border: none;
  margin: 8px 0;
  padding: 10px;
}

.form-container button {
  margin-top: 10px;
  padding: 10px;
  background: #dad8de;
  color: #150909;
  border: none;
  cursor: pointer;
}

.sign-in {
  left: 0;
}

.sign-up {
  left: 0;
  opacity: 0;
  z-index: 1;
}

/* KHI ACTIVE */
.container.active .sign-in {
  transform: translateX(100%);
}

.container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* TOGGLE */
.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 100;
}

.container.active .toggle-container {
  transform: translateX(-100%);
}
#register {
  border-radius: 5px;
  background-color: rgb(239, 245, 245);
}
#Login {
  border-radius: 5px;
  background-color: rgb(234, 235, 241);
}

.toggle {
  background: linear-gradient(to right, #a6add4, #ca7a1e);
  color: #f4f4f4;
  position: relative;
  left: -100%;
  width: 200%;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  text-align: center;
}

.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
}
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background: #ebe3e3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top-bar b {
  cursor: pointer;
}

.contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actions {
  display: flex;
  gap: 20px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  position: relative;
}

.badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: rgb(246, 251, 245);
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
}

/* ĐẨY KHUNG LOGIN XUỐNG */
.container {
  margin-top: 40px;
}
.login-wrapper {
  display: flex;
  justify-content: flex-end; /* ← đẩy hẳn sang phải */
  align-items: center;

  width: 100%;
  min-height: calc(100vh - 80px); /* trừ header */
  padding-right: 0; /* sát mép */
}
/*footer*/
.footer {
  padding-top: 16px;
  border-top: 4px solid var(--primary-color);
  background-color: #c5c5c5;
}

.footer__heading {
  font-size: 1.3rem;
  text-transform: none;
  color: var(--primary-color);
  margin-bottom: 10px;
}
.footer__logo {
  width: 400px;
  height: auto;
  margin-left: -150px;
  padding-right: 60px;
}
.footer__list {
  padding-left: 5px;
  list-style: none;
  font-size: 0.8rem;
}
.footer_item {
  margin-bottom: 5px;
  font-size: 0.8rem;
  padding-right: 15px;
}
.footer_item_link {
  text-decoration: none;
  font-size: 1rem;
  color: #737373;
  padding: 2px 0;
  display: block;
}
.footer_item_link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #737373;
  padding: 2px 0;
  display: flex;
  align-items: center;
}

.footer_item_link:hover {
  color: var(--main-color);
}

.footer-item__icon {
  font-size: 1.6rem;
  margin: -1px 8px -1px 0;
}
.footer_text {
  font-size: 1rem;
  margin-left: 300px;
}
/*responsive*/
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
/* Test */
.grid__column-2-4 {
  padding-left: 5px;
  padding-right: 5px;
}

.grid__column-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
  margin-top: 10px;
  margin-bot: 10px;
  margin-right: 50px;
}
.grid__column-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3334%;
}
