* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #ffffff;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background: lightblue;
}
/*Trang chu*/
.home {
  color: #150909;
  position: relative;
}
.home:hover {
  text-decoration: none;
  color: rgb(231, 93, 38);
}
.home::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: rgb(231, 93, 38);
  transform: translateX(-50%);
  transition: width 0.3s ease;
}
.home:hover::after {
  width: 100%;
}
/*Lien he*/
.contact {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #a64b2a;
}
.contact .phone {
  font-size: 50px;
}
.contact-text {
  display: flex;
  flex-direction: column; /*sắp xếp các phần tử con bên trong một container theo chiều dọc, từ trên xuống dướ*/
}
.contact-text small {
  display: block;
  font-size: 15px;
  color: #888;
}
.contact-text strong {
  font-size: 18px;
  font-weight: bold;
}
/*Icon ben phai*/
.actions {
  display: flex;
  align-items: center;
  gap: 16px; /*Tao khoan cah giua cac hang, cot*/
}
.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center; /* Căn giữa các item */
  cursor: pointer;
  position: relative;
}
a {
  text-decoration: none;
}
/*Gio Hang*/
.cart {
  background: #b45a35;
  color: white;
  border: none;
}
.cart .badge {
  position: absolute;
  top: -4px;
  right: -4px;
  background: #d35400;
  color: white;
  font-size: 11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*footer*/
.footer {
  padding-top: 16px;
  border-top: 4px solid var(--primary-color);
  background-color: #c5c5c5;
}

.footer__heading {
  font-size: 1.3rem;
  text-transform: none;
  color: var(--primary-color);
  margin-bottom: 10px;
}
.footer__logo {
  width: 400px;
  height: auto;
  margin-left: -150px;
  padding-right: 60px;
}
.footer__list {
  padding-left: 5px;
  list-style: none;
  font-size: 0.8rem;
}
.footer_item {
  margin-bottom: 5px;
  font-size: 0.8rem;
  padding-right: 15px;
}
.footer_item_link {
  text-decoration: none;
  font-size: 1rem;
  color: #737373;
  padding: 2px 0;
  display: block;
}
.footer_item_link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #737373;
  padding: 2px 0;
  display: flex;
  align-items: center;
}

.footer_item_link:hover {
  color: var(--main-color);
}

.footer-item__icon {
  font-size: 1.6rem;
  margin: -1px 8px -1px 0;
}
.footer_text {
  font-size: 1rem;
  margin-left: 300px;
}
/*responsive*/
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
/* Test */
.grid__column-2-4 {
  padding-left: 5px;
  padding-right: 5px;
}

.grid__column-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
  margin-top: 10px;
  margin-bot: 10px;
  margin-right: 50px;
}
.grid__column-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3334%;
}
